@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-container {
  height: 20vh;
  margin-top: 40px;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  width: 40%;
}

textarea {
  width: 98%;
  height: 60%;
  border: 1px solid #ced4da;
  border-radius: 10px;
  font-family: Inter;
  font-size: 1rem;
}

textarea:focus {
  outline: none;
}

.audio-container {
  margin-top: 4rem;
  width: 40%;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-button {
  font-size: 4rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
}

.load-more-button,
.clear-button {
  font-size: 1rem;
  background-color: #5095f8;
  border: 1px solid #5095f8;
  color: #fff;
  padding: 14px;
  width: 325px;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0 1rem;
}

.audio-button,
.clear-button:disabled {
  opacity: 0.5;
}

.icon-btn {
  color: #5095f8;
}

.progress-container {
  width: 100%;
  background-color: #ccc;
  height: 8px;
  margin: 0 0 10px;
}

.progress-bar {
  background-color: #007bff;
  height: 100%;
  width: 0;
}

.checkbox-input {
  margin-left: 0.2rem;
}
@media screen and (max-width: 960px) {
  * {
    padding: 0;
    margin: 0;
  }

  .section-container {
    width: 90vw;
    height: 50vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin-top: 1rem;
    font-size: smaller;
  }

  .audio-container {
    margin: 2rem;
    width: 90vw;
    padding: 12px;
  }
  .clear-button {
    margin-top: 1rem;
  }
}
